html{
	height: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	background-color: #555;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("bg.jpg");
	height: 100%;
	width: 100%;
}

#playerLayer{
	position: fixed;
	margin: auto;
	width: 48%;
  	height: 72%;
	min-width: 320px;
	min-height: 320px;
	top: auto;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	background-size: 95%;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-image: url("body.svg");
}

#charactorLayer{
	position: absolute;
	margin: auto;
	top:20%;
	left: 0px;
	right: 0px;
	width: 25%;
	height: 35%;
	min-width: 180px;
	min-height: 220px;
	border-radius: 10%;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	background-size: 100%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-image: url("ears.svg");
	-webkit-animation: moveHead 8s infinite;
    -webkit-animation-timing-function:ease-in-out;
}

#faceBox{
	width: 76%;
	/*height: 95%;*/
	border-radius: 20%;
/*	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;*/
	border: solid 5px #FFF;
	margin: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	/*background-image: url("headTest.jpg");*/
	background-color: #000;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);

}

/*@-webkit-keyframes moveHand
{
0%   {-webkit-transform: rotateZ(60deg);}
50% {-webkit-transform: rotateZ(-60deg);}
100% {-webkit-transform: rotateZ(60deg);}
}*/

@-webkit-keyframes moveAlert
{
0%   {-webkit-transform: rotateZ(10deg) rotateZ(-15deg);}
50% {-webkit-transform: rotateZ(-10deg) scale(1.25) rotateZ(15deg);}
100% {-webkit-transform: rotateZ(10deg) rotateZ(-15deg);}
}

@-webkit-keyframes moveHead
{
0%   {-webkit-transform: rotateZ(0deg);}
24% {-webkit-transform: rotateZ(9deg) translateY(25px);}
36% {-webkit-transform: perspective(400px) rotateY(-10deg) rotateY(-10deg) rotateZ(-12deg) translateY(10px);}
50% {-webkit-transform: perspective(400px) rotateY(18deg) rotateZ(10deg) translateY(36px) scale(1.2);}
58% {-webkit-transform: rotateZ(-10deg) translateY(-5px);}
100% {-webkit-transform: rotateZ(0deg);}
}

#handLayer{
	height: 180%;
	width: 32%;
	margin: auto;
	top: auto;
	bottom: -108%;
	//right: 0px;
	left: 30%;
	position: fixed;
	background-image: url("hands.svg");
	background-size: 100% 70%;
	background-position: top; 
	background-repeat: no-repeat;
/*	-webkit-animation: moveHand 5s infinite;
    -webkit-animation-timing-function:ease-in-out;*/
}

#alertMsg{
	position: absolute;
	background-image: url("alert.png");
	background-size: 100% 100%;
	background-position: center; 
	background-repeat: no-repeat;
	top:8%;
	left:15%;
	z-index: 99;
	padding: 20px;
	padding-top: 50px;
	height: 80px;
	width: 140px;
	text-align: center;
	-webkit-animation: moveAlert 3s infinite;
    -webkit-animation-timing-function:ease-in-out;
}

#video{
	position: relative;
	margin: auto;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	border-radius: 20%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}